body {
    background-color: black;
    color: white;
}

#body {
    max-width: 600px;
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.card-holder {
    background-color: #e9e9e9;
    color: black;
}
h1 {
    margin: 20px 0;
}
.big-text {
    padding: 20px;
    font-size: 30px;
}
.next {
    padding: 20px;
    font-size: 20px;
}